:root{
  font-family: inter,system-ui,avenir,Arial, Helvetica, sans-serif;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 10px;
}